@charset "UTF-8";

body > header, body > footer {
  box-sizing: border-box;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("cmunrm.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("cmunsl.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Victor Mono";
  src: url("VictorMono-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Victor Mono";
  src: url("VictorMono-MediumOblique.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/* Tufte CSS */
html {
  font-size: 15px;
}

body {
  background-color: #fff3dc;
  color: #111;
  margin: 0 auto;
  font-family: "Computer Modern Serif", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h1 {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

p.toc {
  margin-bottom: 0.1rem;
}

ul.toc {
  margin-top: 0.1rem;
  padding-left: 3rem;
}

.danger {
  color: red;
}

.wrapper {
  width: 87.5%;
  padding-left: 12.5%;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

article {
  min-height: calc(100vh - 23.1rem);
  position: relative;
  padding: 5rem 0;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p, ol, ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

blockquote {
  border-left: 3px solid #333;
  font-size: 1.4rem;
  margin-left: 0;
  padding-left: 40px;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

article > p, article > footer, article > table,
section > p, section > footer, section > table {
  width: 55%;
}

article > ol, article > ul,
section > ol, section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto 1rem;
  }
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 66%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

a:link, a:visited {
  color: #82642b;
}

a:link {
  text-decoration: none;
  background: linear-gradient(#fff3dc, #fff3dc), linear-gradient(#fff3dc, #fff3dc), linear-gradient(#333, #333);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fff3dc, -0.03em 0 #fff3dc, 0 0.03em #fff3dc, 0 -0.03em #fff3dc, 0.06em 0 #fff3dc, -0.06em 0 #fff3dc, 0.09em 0 #fff3dc, -0.09em 0 #fff3dc, 0.12em 0 #fff3dc, -0.12em 0 #fff3dc, 0.15em 0 #fff3dc, -0.15em 0 #fff3dc;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

a:link::selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

a:link::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

body > header a:link,
body > footer a:link {
  background: linear-gradient(#88030f, #88030f), linear-gradient(#88030f, #88030f), linear-gradient(#bb8f3e, #bb8f3e);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #88030f, -0.03em 0 #88030f, 0 0.03em #88030f, 0 -0.03em #88030f, 0.06em 0 #88030f, -0.06em 0 #88030f, 0.09em 0 #88030f, -0.09em 0 #88030f, 0.12em 0 #88030f, -0.12em 0 #88030f, 0.15em 0 #88030f, -0.15em 0 #88030f;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

body > header a:link,
body > header a:visited,
body > footer a:link,
body > footer a:visited {
  color: #bb8f3e;
  font-style: italic;
  font-weight: bold;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link {
    background-position-y: 87%, 87%, 87%;
  }
}

img {
  max-width: 100%;
}

.sidenote, .marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after, .sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth, table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;

  th, td {
    padding: 0.2rem 2rem;
    text-align: left;
  }

  th {
    font-size: 1.1rem;
    text-decoration: underline;
  }

  td:first-child, th:first-child {
    padding-left: 0;
  }

  td:last-child, td:last-child {
    padding-right: 0;
  }

  &:has(+ canvas) {
    margin-bottom: 4rem;
  }
}

code {
  color: #88030f;
  font-family: "Victor Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.1rem;
  line-height: 1.42;
}

h1 > code, h2 > code, h3 > code {
  font-size: 0.80em;
}

.marginnote > code, .sidenote > code {
  font-size: 1rem;
}

pre {
  font-size: 1.25rem;
  font-family: "Victor Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  padding: 1rem;

  code {
    font-size: 1.1rem;

    tr td:first-child {
      color: #797979;
      border-right: 1px solid #797979;
      padding-right: 1em;
    }

    tr td:nth-child(2) {
      padding-left: 1em;
    }
  }
}

pre.fullwidth {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  position: relative;
  // padding-bottom: 56.25%;
  padding-bottom: 38%;
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 760px) {
  article, .wrapper {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  hr, article > p, article > footer, article > table,
 section > p, section > footer, section > table {
    width: 100%;
  }

  pre {
    width: 97%;
  }

  article > ol, article > ul,
  section > ol, section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption, figure.fullwidth figcaption {
    margin-right: 0;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0;
  }

  blockquote p, blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote, .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper, table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}

/* Generic styles */

/* Layout styles */

.header-wrapper {
  background-color: #88030f;
	display: flex;
  margin-bottom: 1.45rem;
  min-height: 3rem;
  padding: 1.45rem 1.0875rem;
}

.header-wrapper ul {
	display: flex;
	list-style-type: none;
}

.header-wrapper ul li {
	margin-right: 1em;
}

.header-wrapper ul li:not(:first-child) {
	margin-top: 0;
}

.site-title {
  display: inline-block;
  margin: 0;
}

body > header .site-title a {
  background: none;
}

.footer-wrapper {
  background-color: #88030f;
  min-height: 4rem;
}

.footer-container {
  align-items: center;
  color: #bb8f3e;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
  padding: 1.45rem 1.0875rem;
}

.footer-container > a[rel="license"] {
  margin-right: 2rem;
  text-decoration: none;
  background: none;
}

.license-logo {
  margin-bottom: 0;
}

.license-text {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 80%;
}

.table-of-contents {
  list-style-type: none;
}

.table-of-contents li:before {
  content: "- ";
}

.chapter-links {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.nes-example {
  width: 512px;
  height: 480px;
}

.controller {
  display: flex;
  flex-direction: row;
  width: 512px;

  .dpad {
    display: flex;
    flex-direction: column;
    width: 33%;

    .horizontal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    button {
      height: 1.6rem;
      margin: 4px auto;
      width: 30%;
    }
  }

  .selstart {
    display: flex;
    margin: 0 2rem;
    width: 8rem;

    button {
      height: 1.4rem;
      margin: auto auto 0 auto;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 8rem;

    button {
      height: 3rem;
      width: 3rem;
      margin: auto;
    }
  }
}

.posts-list {
  list-style: none;
  -webkit-padding-start: 1%;
}

.posts-list li {
  margin-bottom: 3em;
}

.post-title:link,
.post-title:visited {
  color: #88030f;
  font-weight: bold;
  font-size: 2.4rem;
}

.buttondown-disclaimer,
.buttondown-disclaimer a {
  margin: 0;
  font-size: 1rem;
}

// Code highlighting styles

code[class*="language-"],
pre.code,
pre.code code {
  color: #e4e4e4;
  background: #272822;
  border: none;
  text-shadow: 0 1px rgba(128, 128, 128, 0.3);
  font-family: "Victor Mono", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre.code code span.comment {
  font-style: italic;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.z-ca65 .z-comment,
.language-ca65 .z-comment {
  color: #c69cfe;
}

.z-ca65 .z-prolog,
.z-ca65 .z-doctype,
.z-ca65 .z-cdata,
.language-ca65 .z-prolog,
.language-ca65 .z-doctype,
.language-ca65 .z-cdata {
  color: slategray;
}

.z-ca65 .z-punctuation,
.language-ca65 .z-punctuation {
  color: #f8f8f2;
}

.z-ca65 .z-namespace,
.language-ca65 .z-namespace {
  opacity: .7;
}

.z-ca65 .z-property,
.z-ca65 .z-tag,
.z-ca65 .z-constant,
.z-ca65 .z-symbol,
.z-ca65 .z-deleted,
.language-ca65 .z-property,
.language-ca65 .z-tag,
.language-ca65 .z-constant,
.language-ca65 .z-symbol,
.language-ca65 .z-deleted {
  color: #f92672;
}

.z-ca65 .z-boolean,
.z-ca65 .z-number,
.z-ca65 .z-constant,
.z-ca65 .z-numeric,
.language-ca65 .z-boolean,
.language-ca65 .z-number,
.language-ca65 .z-constant,
.language-ca65 .z-numeric {
  color: #9c6cff;
}

.z-ca65 .z-selector,
.z-ca65 .z-attr-name,
.z-ca65 .z-string,
.z-ca65 .z-char,
.z-ca65 .z-builtin,
.z-ca65 .z-inserted,
.language-ca65 .z-selector,
.language-ca65 .z-attr-name,
.language-ca65 .z-string,
.language-ca65 .z-char,
.language-ca65 .z-builtin,
.language-ca65 .z-inserted {
  color: #54ce28;
}

.z-ca65 .z-operator,
.z-ca65 .z-url,
.language-css .z-string,
.z-style .z-string,
.z-ca65 .z-variable,
.language-ca65 .z-operator,
.language-ca65 .z-url,
.language-ca65 .z-variable {
  color: #f8f8f2;
}

.z-ca65 .z-atrule,
.z-ca65 .z-attr-value,
.z-ca65 .z-class-name {
  color: #e6db74;
}

.z-ca65 .z-keyword,
.z-ca65 .z-opcode,
.language-ca65 .z-keyword,
.language-ca65 .z-opcode {
  color: #5bbdfe;
}

.z-ca65 .z-regex,
.z-ca65 .z-important,
.language-ca65 .z-regex,
.language-ca65 .z-important {
  color: #fd971f;
}

.important,
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.label,
.z-ca65,
code.language-ca65 {
  color: #c34d00;
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em; /* Same as .prism’s padding-top */

  background: hsla(24, 20%, 50%,.08);
  background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));

  pointer-events: none;

  line-height: inherit;
  white-space: pre;
}

  .line-highlight:before,
  .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%,.4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
  }

  .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
  }

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none;
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  display: inline-block;
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

  .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
  }

    .line-numbers-rows > span:before {
      content: counter(linenumber);
      color: #999;
      display: block;
      padding-right: 0.8em;
      text-align: right;
    }

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: .8em;
  padding: 0 .5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none;
}

.command-line-prompt {
  border-right: 1px solid #999;
  display: block;
  float: left;
  font-size: 100%;
  letter-spacing: -1px;
  margin-right: 1em;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.command-line-prompt > span:before {
  color: #999;
  content: ' ';
  display: block;
  padding-right: 0.8em;
}

.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

.stretch video {
  width: 100%;
}
