<figure>
  {% if vid %}
  <video src="{{ vid }}" type="video/mp4" autoplay loop muted></video>
  {% endif %}
  {% if img %}
  {%- set imgpath = "book/" ~ page.slug ~ "/" ~ img %}
  <img src="{{ resize_image(path=imgpath, width=500, height=640, op="fit") }}">
  {% endif %}
  {% if img2 %}
  {%- set img2path = "book/" ~ page.slug ~ "/" ~ img2 %}
  <img src="{{ resize_image(path=img2path, width=500, height=640, op="fit") }}">
  {% endif %}
  <figcaption>{{ body | markdown(inline=true) | safe }}</figcaption>
</figure>
