<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% set titlestring = "Famicom Party" %}
    {% if page.title %}
    {% set titlestring = titlestring ~ " | " ~ page.title %}
    {% endif %}
    <title>{{ titlestring }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
		<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
		<script>
		(function(f, a, t, h, o, m){
			a[h]=a[h]||function(){
				(a[h].q=a[h].q||[]).push(arguments)
			};
			o=f.createElement('script'),
			m=f.getElementsByTagName('script')[0];
			o.async=1; o.src=t; o.id='fathom-script';
			m.parentNode.insertBefore(o,m)
		})(document, window, '//analytics.famicom.party/tracker.js', 'fathom');
		fathom('set', 'siteId', 'BJMBO');
		fathom('trackPageview');
		</script>
		<!-- / Fathom -->
  </head>
  <body>
    <header class="header-wrapper">
      <h1 class="site-title"><a href="/"><img src="/img/famicomparty.png" alt="Famicom Party"></a></h1>
      <nav class="header-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/book">The Book</a></li>
          <li><a href="/blog">The Blog</a></li>
        </ul>
      </nav>
    </header>

    <article class="wrapper">
      {% block content %} {% endblock %}
    </article>

    <footer class="footer-wrapper">
      <div class="footer-container">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img class="license-logo" alt="Creative Commons License" src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png">
        </a>
        <p class="license-text">This work by Kevin Zurawel is licensed under a<br>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
