{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ page.title }}</h1>

<p class="chapter-links">
{% if page.lower %}
  <a href="{{ page.lower.path }}">&laquo; {{ page.lower.title }}</a>
{% endif %}
{% if page.higher %}
  <a href="{{ page.higher.path }}">{{ page.higher.title }} &raquo;</a>
{% endif %}
</p>

{% if page.toc %}
<p class="toc">Table of Contents:</p>
<ul class="toc">
  {% for h2 in page.toc %}
  {% if h2.level == 2 %}
  <li>
    <a href="{{h2.permalink | safe }}">{{ h2.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}

<section>
  {{ page.content | safe }}
</section>

<p class="chapter-links">
{% if page.lower %}
  <a href="{{ page.lower.path }}">&laquo; {{ page.lower.title }}</a>
{% endif %}
{% if page.higher %}
  <a href="{{ page.higher.path }}">{{ page.higher.title }} &raquo;</a>
{% endif %}
</p>
{% endblock content %}
