{% extends "base.html" %}

{% block content %}
<h1>Famicom Party</h1>
<p class="subtitle">Being the personal website of Kevin Zurawel</p>
<br><br>
<h2>Hi!</h2>
<p>
  My name's Kevin, and I am writing a book about programming the NES/Famicom in Assembly. (Looking for the book? It's here: <a href="/book">Famicom Party: Making NES Games in Assembly</a>). I'm a front-end developer and engineering manager by day and dabbler in retro-computing by night.
</p>

<p>
  Some things I am interested in that I will get around to writing about, eventually:
</p>

<ul>
  <li>Interactive fiction - theory, best practice, and development in Inform and TADS</li>
  <li>The WebAudio API, synthesizers, and digital audio of all kinds</li>
  <li>"Retrogaming" and the history of game development</li>
</ul>

<p>
  Get in touch! <a href="mailto:kevin@famicom.party">kevin@famicom.party</a>
</p>
{% endblock content %}
